* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-serif;
	font-size: 11px;
	line-height: 1.28;
	color: #333333;
	overflow: auto; /* Used by jQuery Layout when the page gets too small. */
}

/* HTML5 Support for IE */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

a {
	color: #1122CC; /* Or #3B5998 */
	text-decoration: none;
}

a:hover {
	color: #1122CC; /* Or #3B5998 */
	text-decoration: underline;
}

a:visited {
	color: #1122CC; /* Or #3B5998 */
}

p {
	margin-top: 3px;
}

ul {
	padding-left: 40px;
}

img {
	vertical-align: middle;
}

input[type=text], input[type=password] {
	padding: 1px 3px 3px 3px;
}

/********** Start of the CSS to modify the jQuery UI CSS **********/
/**************** Start of the CSS for the Layouts ****************/
.ui-layout-north, .ui-layout-west, .ui-layout-center,
.ui-layout-east, .ui-layout-south {
	display: none;
}

.ui-layout-resizer {
	background: #F5F5F5; /* Or #EEEEEE */
}

.ui-layout-resizer-hover {
	background: #F0F0F0;
}

.ui-layout-toggler {
	background: #E5E5E5; /* Or #AAAAAA */
}

.ui-layout-toggler-hover {
	background: #D5D5D5;
}

.ui-layout-toggler-north .ui-icon,
.ui-layout-toggler-south .ui-icon {
	margin: -5px auto; /* Tweak arrow vertical-center */
}

.ui-layout-toggler-west .ui-icon,
.ui-layout-toggler-east .ui-icon {
	margin-left: -5px; /* Tweak arrow horizontal-center */
}

.ui-layout-toggler-north-open .ui-icon,
.ui-layout-toggler-south-closed .ui-icon {
	background-position: 0 -16px; /* ui-icon-triangle-1-n */
}

.ui-layout-toggler-north-closed .ui-icon,
.ui-layout-toggler-south-open .ui-icon {
	background-position: -67px -16px; /* ui-icon-triangle-1-s */
}

.ui-layout-toggler-west-open .ui-icon,
.ui-layout-toggler-east-closed .ui-icon {
	background-position: -96px -16px; /* ui-icon-triangle-1-w */
}

.ui-layout-toggler-west-closed .ui-icon,
.ui-layout-toggler-east-open .ui-icon {
	background-position: -33px -16px; /* ui-icon-triangle-1-e */
}
/**************** End of the CSS for the Layouts ****************/

/************ Start of the CSS for the Flash messages ************/
.ui-flash {
	
}

.ui-flash p {
	margin: 1em 0px;
}
/************* End of the CSS for the Flash messages *************/
/********** End of the CSS to modify the jQuery UI CSS **********/

/**** Start of the CSS for the Error Explanations on Rails ****/
#errorExplanation {
	border: 2px solid red;
	padding: 7px;
	margin-top: 3px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 12px 5px 5px 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}
/***** End of the CSS for the Error Explanations on Rails *****/

/**** Start of the CSS for the Menu Bar ****/
#menu_bar {
	padding: 0.2em;
}

#menu_bar > span.left {
	
}

#menu_bar > span.right {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.2em;
	margin-top: 1px;
	height: 100%;
}

/**** Start of the CSS for the Menu Items ****/
#menu_items {
	
}

#menu_items > ul {
	
}
/***** End of the CSS for the Menu Items *****/
/***** End of the CSS for the Menu Bar *****/

/**** Start of the CSS for the Left Bar ****/
#left_bar {
	
}
/***** End of the CSS for the Left Bar *****/

/**** Start of the CSS for the workspace ****/
/**** Start of the CSS for the workspace header ****/
#header {
	text-align: center;
}
/***** End of the CSS for the workspace header *****/

/**** Start of the CSS for the workspace content ****/
#content {
	
}
/***** End of the CSS for the workspace content *****/

/**** Start of the CSS for the workspace footer ****/
#footer {
	text-align: center;
}
/***** End of the CSS for the workspace footer *****/
/***** End of the CSS for the workspace *****/

/**** Start of the CSS for the Right Bar ****/
#right_bar {
	
}
/***** End of the CSS for the Right Bar *****/

/**** Start of the CSS for the Task Bar ****/
#task_bar {
	
}

#task_bar > span.left {
	
}

#task_bar > span.right {
	position: absolute;
	top: 0;
	right: 2px;
}
/***** End of the CSS for the Task Bar *****/