<h1>Delete User "<%= user.username %>"</h1>
Are you sure you would like to delete the user "<%= user.username %>" ?<br />
<div class="ui-buttonpane ui-widget-content ui-helper-clearfix">
  <%= content_tag( :button, 'Destroy User', { :id => "destroy_user_#{user.id}", :href => user_path( user.id ) } ) %>
</div>
<%-
  content_for_or_javascript_tag_if( request.xhr?, :document_ready_ui ) do
-%>
  destroyUserButtonsHandler( jQuery );
<%-
  end
-%>
